<form method="post" action="{{ path('app_admin_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce user ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('supprimer' ~ user.id) }}">
    <button class="btn">Delete</button>
</form>