@import "tailwindcss";
@source not "../../public";

:root {
  --font-sans: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
}

html {
  font-family: var(--font-sans);
}

body {
  background-color: rgb(0, 0, 0);
}

@theme {
  --color-main-color: rgb(0, 0, 0);
}