<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nom du site{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {#{% block javascripts %}
            {{ encore_entry_script_tags('app') }}

    {% endblock %}#}
</head>
<body>
{% if is_granted('ROLE_USER') %}
    {% include 'layouts/header.html.twig' %}
    {% endif %}
    <main class="ml-0 mr-0 {% if is_granted('ROLE_USER') %}lg:ml-64 lg:mr-[370px]{% endif %}p-4">
        {% block body %}{% endblock %}
    </main>

    {% include 'layouts/footer.html.twig' %}

</body>
</html>
